*{
    box-sizing: border-box;
    margin: 0rem;
    padding: 0rem;
    background-color:white  ;
}

.menu-item {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 1rem; 
    font-weight: 800;
    text-decoration: none;
    background-color: #010817;
    color: whitesmoke;
    padding: 0.9375rem;
    display: inline-block;

}

header{
    background-color:#010817;
    height: 6.25rem;
    font-family: Arial, Helvetica, sans-serif;
    
}

   #nav {
    display: inline-block;
    vertical-align: top;
    width: 88%;

    background-color:#010817; 
    text-align: center;
   
}

.menu {
    text-align: center;
    background-color:#010817; 
    margin-left: 15%;

    list-style: none;

    }

.block {
    display: block;
}


.logo{
    background-color: #010817; 
    color: #fd8b08;
    padding-left: 0.9375rem;
    padding-bottom: 1.25rem;
    text-decoration: none;
}

.bannermenu{
    height: auto;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;

    
}

button{
    font-size: 1.5625rem;
    padding: 0.3125rem;
    text-align: center;
    text-decoration: solid;
    font-display: block;
    cursor: pointer;
    background-color: #fd8b08;

}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: #010817;

}

.title{
    margin-top: 6.25rem;
    text-align: center;
    font-size: 3.125rem;
}

.subtitle{
    text-align: center;
    font-size: 3.125rem;
}

.imgCenter {
    padding: 0.625rem;
    margin-left: 25%;
    margin-right: 25%;
  padding-left: 5%;

}

.box {

  padding: 0.625rem;
  margin: 0 auto;
  background-color: white;
  width: 80%;
  height: auto;
  text-align: center;
  
}

.side {
  border: 0.125rem solid #010817;
  padding: 1.25rem;
  margin: 0.625rem;
  background-color: white;
  width: 25rem;
  height: auto;
  display: inline-block;

}

.fotoavatar {
    max-width: 18.75rem;
      width: 100%;
      height: auto;
      display: block;
      margin: 1.25rem auto;
}

.fotovalue {
    width: 100%;
    height: auto;
    display: block;
    margin: 0.625rem auto;
}
.fotosobre {
    max-width: 43.75rem;
      width: 100%;
      height: auto;
      display: block;
      margin: 1.25rem auto;
}

.centralize {
    text-align: center;
}

footer {
    background-color: #010817;
    color: white;
    text-align: center;
    padding: 1.25rem 0;
    text-decoration: none;

}

a {
    color: #587beb;
    text-decoration: none;
}
a:hover {
    color: #fd8b08;
}

.fiap-color {
    color: #fd8b08;
}


.question{
    font-size: 1.375rem;
    font-weight: bold;
    color: #fd8b08;
}



/* extra small devices */
 @media (max-width: 37.5rem) {


         /* MENU LATERAL - use no extra small tbm! */
   #nav {
    position: fixed;
    display: block;
    padding: 0.625rem;
    width: 20%;
    text-align: right;
    right: 0;
    height: 100%;
    
    }



    .menu {
    display:flex;
    flex-direction: column;
    text-align: left;
    margin: 0;
    gap: 3.75rem;

    }


    .menu-item {
    background-color: #010817;
    padding: 0.3125rem;
    display: block;
    text-align: center;
    font-size: 0.625rem;

    }

         /* menu lateral acaba nesse de cima */



    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh; /* o vh é Viewrpoint Height > altura da página, n do monitor*/
        margin-right: 13%;
    }

    /* pág. contato */
    .side {
    border: 0.125rem solid #010817;
    padding: 1.25rem;
    margin: 0.625rem;
    background-color: white;
    width: 18.75rem;
    height: auto;
    display: inline-block;

    }

    .centralize {
        text-align: center;
        padding-right: 0.9375rem;
    }


    /* pág. faq */

      .formText {
        font-size: 1.25rem;
        text-align: left;
    }

    #text-small-device {
        padding-right: 0.625rem;
    }

     #textTitle-small-device {
        padding-left: 0.625rem;
        text-align: left;
    }

    .title{
    margin-top: 5rem;
    text-align: center;
    font-size: 2.625rem;
    padding-left: 1.25rem;
    }

    .question{
    font-size: 2.1875rem;
    font-weight: bold;
    color: #fd8b08;
    text-align: left;
    padding-bottom: 1.25rem;
    }

    .answer {
        font-size: 1.25rem;
        text-align: left;
    }

    .box {
        margin-left: 0.75rem;
    }


    /* pág quemSomos */

    .imgCenter {
        padding: 0.625rem;
        margin-left: 8%;
        margin-right: 0%;
        width: 80%;
    }


    .title{
    margin-top: 3.75rem;
    text-align: center;
    font-size: 2.625rem;
    padding-left: 0rem;
    }

    /* pág home */

    #home-small-device{
        margin-left:10% ;
        padding-right: 0%;
        text-align: left;
    }


    .side {
    width: 16.875rem;
    }

    #mission-xsmall-device{
        margin-right: 0.3125rem;
        padding-right: 0rem;
    }
 
    #font-xsmall{
        font-size: 2.5rem;
    }

}

  
/* small devices - OK*/
 @media (min-width: 37.5rem) and (max-width: 47.9375rem){
    

         /* MENU LATERAL - use no extra small tbm! */
   #nav {
    position: fixed;
    display: block;
    padding: 0.625rem;
    width: 18%;
    text-align: right;
    right: 0;
    height: 100%;
    }


    .menu {
    display:block;
    text-align: left;
    margin: 0;
    }


    .menu-item {
    background-color: #010817;
    padding: 0.9375rem;
    display: block;


    }

         /* menu lateral acaba nesse de cima */


    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh; 
        margin-right: 18%;
    }
    
    .formText {
        font-size: 1.875rem;
        text-align: justify;
    }

    .imgCenter {
        margin: 0;
        padding: 0.625rem;
        padding-left: 3.125rem;
        width: 85%;
    }

    .title{
    margin-top: 6.25rem;
    text-align: center;
    font-size: 3.75rem;
    padding-bottom: 1.25rem;
}

    .doubleside{
    border: 0.125rem solid #010817;
    padding: 0.3125rem;
    margin: 1.25rem;
    height: auto;
        }

    .question{
    font-size: 1.875rem;
    font-weight: bold;
    color: #fd8b08;
    text-align: left;
    padding-bottom: 1.25rem;
    }

    .answer {
        font-size: 1.25rem;
        text-align: left;
    }

    .mobile-click {
        font-size: 1.125rem;
        padding: 0.625rem;
    }

    .mobile-click-link {
        padding: 0.3125rem;
    }

    .bigger-font{
        font-size: 1.25rem;
    }
 }


/* medium devices - OK */
 @media (min-width: 48rem) and (max-width: 61.9375rem) {


   #nav {
    position: fixed;
    display: block;
    padding: 0.625rem;
    width: 18%;
    text-align: right;
    right: 0;
    height: 100%;
    }

    .menu {
    display:block;
    text-align: right;
    margin: 0;
    }

    .menu-item {
    background-color: #010817;
    padding: 0.9375rem;
    display: block;
    }

    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh; 
        margin-right: 18%;
    }
    
    footer {
        margin-top: auto;
    }

    .formText {
        font-size: 1.875rem;
        text-align: justify;
    }

    .imgCenter {
        margin: 0;
        padding: 0.625rem;
    }

    .doubleside{
    border: 0.125rem solid #010817;
    padding: 0.3125rem;
    margin: 1.25rem;
    height: auto;
        }

 }



/* large device - OK */
 @media (min-width: 62rem) {
    .menu-item {
        font-size: 0.9375rem; 
        padding: 0.4375rem;

    }

.menu {
    text-align: center; 
    margin-left: 12%;
    }

    header{
    height: 6.25rem;
}

.logo{
    padding-bottom: 1.5625rem;
}

 
    .side {
  width: 21.875rem;
}

    .doubleside{
  border: 0.125rem solid #010817;
  padding: 1.25rem;
  margin: 0.625rem;
  background-color: white;
  width: 25rem;
  height: auto;
  display: inline-block;
    }

}
