*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color:white  ;
}

.menu-item {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 16px; 
    font-weight: 800;
    text-decoration: none;
    background-color: #010817;
    color: whitesmoke;
    padding: 15px;
    display: inline-block;

}

header{
    background-color:#010817;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
    
}

   #nav {
    display: inline-block;
    vertical-align: top;
    width: 88%;

    background-color:#010817; 
    text-align: center;
}

.menu {
    text-align: center;
    background-color:#010817; 
    margin-left: 15%;
    }



.logo{
    background-color: #010817; 
    color: #fd8b08;
    padding-left: 15px;
    padding-bottom: 20px;
    text-decoration: none;
}

.bannermenu{
    height: auto;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;

    
}

button{
    font-size: 25px;
    padding: 5px;
    text-align: center;
    text-decoration: solid;
    font-display: block;
    cursor: pointer;
    background-color: #fd8b08;

}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: #010817;

}

.title{
    margin-top: 100PX;
    text-align: center;
    font-size: 50px;
}

.subtitle{
    text-align: center;
    font-size: 50px;
}

.imgCenter {
    padding: 10px;
    margin-left: 25%;
    margin-right: 25%;
  padding-left: 5%;

}

.box {

  padding: 10px;
  margin: 0 auto;
  background-color: white;
  width: 80%;
  height: auto;
  text-align: center;
  
}

.side {
  border: 2px solid #010817;
  padding: 20px;
  margin: 10px;
  background-color: white;
  width: 400px;
  height: auto;
  display: inline-block;

}

.fotoavatar {
    max-width: 300px;
      width: 100%;
      height: auto;
      display: block;
      margin: 20px auto;
}

.fotovalue {
    width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
}
.fotosobre {
    max-width: 700px;
      width: 100%;
      height: auto;
      display: block;
      margin: 20px auto;
}

.centralize {
    text-align: center;
}

footer {
    background-color: #010817;
    color: white;
    text-align: center;
    padding: 20px 0;
    text-decoration: none;

}

a {
    color: #587beb;
    text-decoration: none;
}
a:hover {
    color: #fd8b08;
}

.fiap-color {
    color: #fd8b08;
}


.question{
    font-size: 22px;
    font-weight: bold;
    color: #fd8b08;
}


 















/* extra small devices */
 @media (max-width: 600px) {


         /* MENU LATERAL - use no extra small tbm! */
   #nav {
    position: fixed;
    display: block;
    padding: 10px;
    width: 20%;
    text-align: right;
    right: 0;
    height: 100%;
    
    }



    .menu {
    display:flex;
    flex-direction: column;
    text-align: left;
    margin: 0;
    gap: 60px;

    }


    .menu-item {
    background-color: #010817;
    padding: 5px;
    display: block;
    text-align: center;
    font-size: 10px;

    }

         /* menu lateral acaba nesse de cima */


         

    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh; /* o vh é Viewrpoint Height > altura da página, n do monitor*/
        margin-right: 13%;
    }

    /* pág. contato */
    .side {
    border: 2px solid #010817;
    padding: 20px;
    margin: 10px;
    background-color: white;
    width: 300px;
    height: auto;
    display: inline-block;

    }

    .centralize {
        text-align: center;
        padding-right: 15px;
    }


    /* pág. faq */

      .formText {
        font-size: 20px;
        text-align: left;
    }

    #text-small-device {
        padding-right: 10px;
    }

     #textTitle-small-device {
        padding-left: 10px;
        text-align: left;
    }

    .title{
    margin-top: 80px;
    text-align: center;
    font-size: 42px;
    padding-left: 20px;
    }

    .question{
    font-size: 35px;
    font-weight: bold;
    color: #fd8b08;
    text-align: left;
    padding-bottom: 20px;
    }

    .answer {
        font-size: 20px;
        text-align: left;
    }

    .box {
        margin-left: 12px;
    }


    /* pág quemSomos */

    .imgCenter {
        padding: 10px;
        margin-left: 8%;
        margin-right: 0%;
        width: 80%;
    }


    .title{
    margin-top: 60px;
    text-align: center;
    font-size: 42px;
    padding-left: 0px;
    }

    /* pág home */

    #home-small-device{
        margin-left:10% ;
        padding-right: 0%;
        text-align: left;
    }


    .side {
    width: 270px;
    }

    #mission-xsmall-device{
        margin-right: 5px;
        padding-right: 0px;
    }
 
    #font-xsmall{
        font-size: 40px;
    }

}
































  
/* small devices - OK*/
 @media (min-width: 600px) and (max-width: 767px){
    

         /* MENU LATERAL - use no extra small tbm! */
   #nav {
    position: fixed;
    display: block;
    padding: 10px;
    width: 18%;
    text-align: right;
    right: 0;
    height: 100%;
    }


    .menu {
    display:block;
    text-align: left;
    margin: 0;
    }


    .menu-item {
    background-color: #010817;
    padding: 15px;
    display: block;


    }

         /* menu lateral acaba nesse de cima */


    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh; /* o vh é Viewrpoint Height > altura da página, n do monitor*/
        margin-right: 18%;
    }
    
    /* footer {
        display: none;
    } */

    .formText {
        font-size: 30px;
        text-align: justify;
    }

    .imgCenter {
        margin: 0;
        padding: 10px;
        padding-left: 50px;
        width: 85%;
    

    }

    .title{
    margin-top: 100PX;
    text-align: center;
    font-size: 60px;
    padding-bottom: 20px;
}

        /* pág. Nossos Valores: */


    .doubleside{
    border: 2px solid #010817;
    padding: 5px;
    margin: 20px;
    height: auto;


        }

        /* pág. FAQ */

    .question{
    font-size: 30px;
    font-weight: bold;
    color: #fd8b08;
    text-align: left;
    padding-bottom: 20px;
    }

    .answer {
        font-size: 20px;
        text-align: left;
    }

       /* pág. quemsomos */

    .mobile-click {
        font-size: 18px;
        padding: 10px;
    }

    .mobile-click-link {
        padding: 5px;
    }


    /* pág. missao */

    .bigger-font{
        font-size: 20px;
    }
 }

/* medium devices - OK */
 @media (min-width: 768px) and (max-width: 991px) {


         /* MENU LATERAL*/
   #nav {
    position: fixed;
    display: block;
    padding: 10px;
    width: 18%;
    text-align: right;
    right: 0;
    height: 100%;
    }


    .menu {
    display:block;
    text-align: right;
    margin: 0;
    }


    .menu-item {
    background-color: #010817;
    padding: 15px;
    display: block;

    }

         /* menu lateral acaba nesse de cima */


    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh; /* o vh é Viewrpoint Height > altura da página, n do monitor*/
        margin-right: 18%;
    }
    
    footer {
        margin-top: auto;
    }

    .formText {
        font-size: 30px;
        text-align: justify;
    }

    .imgCenter {
        margin: 0;
        padding: 10px;

    }

        /* pág. Nossos Valores: */


    .doubleside{
    border: 2px solid #010817;
    padding: 5px;
    margin: 20px;
    height: auto;


        }


 }


/* large device - OK */
 @media (min-width: 992px) {
    .menu-item {
        font-size: 15px; 
        padding: 7px;

    }



.menu {
    text-align: center; 
    margin-left: 12%;
    }



    header{
    height: 100px;
}

.logo{
    padding-bottom: 25px;

}

 
    .side {
  width: 350px;
}

    .doubleside{
  border: 2px solid #010817;
  padding: 20px;
  margin: 10px;
  background-color: white;
  width: 400px;
  height: auto;
  display: inline-block;

    }


 }



 