*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:white  ;
}

.menu-item {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 16rem; 
    font-weight: 800;
    text-decoration: none;
    background-color: #010817;
    color: whitesmoke;
    padding: 1rem;
    display: inline-block;

}

header{
    background-color:#010817;
    height: 6.25rem;
    font-family: Arial, Helvetica, sans-serif;
    
}

.logo{
    background-color: #010817; 
    color: #fd8b08;
    padding-left: 1rem;
    padding-bottom: 1.25rem;
    text-decoration: none;
}

.bannermenu{
    height: auto;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;

    
}

button{
    font-size: 1.5rem;
    padding: 0.3125rem;
    text-align: center;
    text-decoration: solid;
    font-display: block;
    cursor: pointer;
    background-color: #fd8b08;

}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: #010817;

}

.title{
    margin-top: 6.25rem;
    text-align: center;
    font-size: 3.125rem;
}

.box {

  padding: .625rem;
  margin: 0 auto;
  background-color: white;
  width: 50rem;
  height: auto;
  align-self: center;
}

.side {
  border: 0.125rem solid #010817;
  padding: 1.25rem;
  margin: 0.625rem;
  background-color: white;
  width: 25rem;
  height: auto;
  display: inline-block;



}

.fotoavatar {
    max-width: 18.75rem;
      width: 100%;
      height: auto;
      display: block;
      margin: 1.25rem auto;
}

.fotosobre {
    max-width: 43.75rem;
      width: 100%;
      height: auto;
      display: block;
      margin: 1.25rem auto;
}

.centralize {
    text-align: center;
}



footer {
    background-color: #010817;
    color: white;
    text-align: center;
    padding: 1.25rem 0;
    text-decoration: none;

}
