*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color:white  ;
}

.menu-item {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 16px; 
    font-weight: 800;
    text-decoration: none;
    background-color: #010817;
    color: whitesmoke;
    padding: 15px;
    display: inline-block;

}

header{
    background-color:#010817;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
    
}


nav{
    background-color:#010817; 
    text-align: center; 
}

.logo{
    background-color: #010817; 
    color: #fd8b08;
    padding-left: 15px;
    padding-bottom: 20px;
    text-decoration: none;
}

.bannermenu{
    height: auto;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;

    
}

button{
    font-size: 25px;
    padding: 5px;
    text-align: center;
    text-decoration: solid;
    font-display: block;
    cursor: pointer;
    background-color: #fd8b08;

}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: #010817;

}

.title{
    margin-top: 100PX;
    text-align: center;
    font-size: 50px;
}

.subtitle{
    text-align: center;
    font-size: 50px;
}

.imgCenter {
    padding: 10px;
    margin-left: 25%;
    margin-right: 25%;

}
.box {

  padding: 10px;
  margin: 0 auto;
  background-color: white;
  width: 80%;
  height: auto;
  text-align: center;
  
}

.side {
  border: 2px solid #010817;
  padding: 20px;
  margin: 10px;
  background-color: white;
  width: 400px;
  height: auto;
  display: inline-block;



}

.fotoavatar {
    max-width: 300px;
      width: 100%;
      height: auto;
      display: block;
      margin: 20px auto;
}

.fotosobre {
    max-width: 700px;
      width: 100%;
      height: auto;
      display: block;
      margin: 20px auto;
}

.centralize {
    text-align: center;
}



footer {
    background-color: #010817;
    color: white;
    text-align: center;
    padding: 20px 0;
    text-decoration: none;

}

/* large device */
 @media (min-width: 992px) {
    nav {
        font-size: 
    }

 }


/* mediu devices */
 @media (min-width: 768px) {
    

 }


/* small devices */
 @media (min-width: 600px) {
    

 }


/* extra small devices */
 @media (max-width: 600px) {


 }
